
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&amp;family=Rubik&amp;display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/style_light.css' />
    <link rel="icon" type="png" href="/images/r-logo-white.png" />
    <title>Reyes | <%=title  %> </title>
</head>