  <nav class="container flex flex-jc-sb flex-ai-c">
    <a href="/">
      <img class="logo" src="/images/r-logo.png" alt="logo">
    </a>

    <ul class="">
      <li><a id="len1" class="hoverable" href="/">Home</a></li>
      <li><a id="len2" class="hoverable" href="/about">About</a></li>
      <li><a id="len2" class="hoverable" href="/sayhi">SayHi</a></li>
      <li><a id="len2" class="hoverable" href="/notes">Notes</a></li>
      <li><a id="len2" class="hoverable" href="/notes/create">Create Note</a></li>
    </ul>

    <a class="button1" href="/sayhi">
      Contact
    </a>
    
  </nav>