
<html lang="en">
    <%- include('./partials/head_dark')  %> 
<body>
    <%- include('./partials/nav_white') %>
    <div class="page-title">
        <h1>About Me</h1>
    </div>
    <div class="container">
        <h1>Hi my name is Sergio Reyes</h1>
        <h2>< / ></h2>
        <div class="content">
            <h2>I am programmer. I enjoy learning about new technologies and teaching others about them. To me AI technology
                fasinating, and I would love to be a part of the advancement in AI tech in the future.
                I am a college student who loves code, build things, fix cars, workout, and watching anime. 
                My goal in life is pretty simple, I hope to become a great programmer one day, and
                start my own software company to live in New York City.
                While I know it'll be a long and difficult path, I will pursue this dream no matter what.</h2>
        </div>
    </div>
</body>
<script>
    const menu = document.querySelector("a.toggle");
    const open = document.querySelector(".menu");
    const body = document.querySelector("body");

    menu.addEventListener("click", (e) => {
      console.log("pressed");
      if (open.classList.contains("hide-for-mobile")) {
        //Close Ham Menu
        console.log("open");
        open.classList.remove("hide-for-mobile");
      }
      else{
        open.classList.add("hide-for-mobile");
      }
    });
  </script>
</html>