<html lang="en">
  <%- include('./partials/head_light') %>
  <body>
    <%- include('./partials/nav') %>
    <div class="page-title">Reyes</div>
    <div class="container">
      <div class="body-text">Hi Welcome my Node.js Website</div>
      <div class="body-text">This will be my journal for 2023 to track my progress and updates</>
    </div>
  </body>

  <script>
    const menu = document.querySelector("a.toggle");
    const open = document.querySelector(".menu");
    const body = document.querySelector("body");

    menu.addEventListener("click", (e) => {
      console.log("pressed");
      if (open.classList.contains("hide-for-mobile")) {
        //Close Ham Menu
        console.log("open");
        open.classList.remove("hide-for-mobile");
      }
      else{
        open.classList.add("hide-for-mobile");
      }
    });
  </script>
</html>
