
<html lang="en">
<%- include('./partials/head_light') %> 
<body>
    <%- include('./partials/nav') %>
    <div class="page-title"><h1>Home</h1></div>
    <div class="container">
      <h2>Hi Welcome To My First Node Home Page</h2>
      <h2>This will be my new website</h2>
    </div>
</body>
</html> 