
<html lang="en">
<%- include('./partials/head_light') %> 
<body>
    <%- include('./partials/nav') %>
    <div class="page-title">Emojis Sent</div>
    <div class="container">
      <h1><%=emoji %></h1>
      <h2>These emjois have been sent :P</h2>
    </div>

    <div class="content">
      <a href="/sayhi"><button>Go Back</button></a>
    </div>

</body>
<script>
  const menu = document.querySelector("a.toggle");
  const open = document.querySelector(".menu");
  const body = document.querySelector("body");

  menu.addEventListener("click", (e) => {
    console.log("pressed");
    if (open.classList.contains("hide-for-mobile")) {
      //Close Ham Menu
      console.log("open");
      open.classList.remove("hide-for-mobile");
    }
    else{
      open.classList.add("hide-for-mobile");
    }
  });
</script>
</html> 