
<html lang="en">
<%- include('./partials/head_light') %> 
<body>
    <%- include('./partials/nav') %>
    <div class="page-title"><h1>Emojis Sent</h1></div>
    <div class="container">
      <h1><%=emoji %></h1>
      <h2>These emjois have been sent :P</h2>
    </div>
</body>
</html> 